<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">

    </script>
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <p>Get your weather here:</p>

      <form>
        <input type="text" name="" value="" placeholder="Lokacija">
        <button type="submit" name="button">Pretraži</button>
      </form>

      <p id="text-1"></p>
      <p id="text-2"></p>
    </div>
    {{>footer}}

    <script type="text/javascript" src="/js/script.js"></script>

  </body>
</html>
